body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.intrb {
    background-color: #344DD4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.faq article {
    margin-bottom: 20px;
}

h2 {
    color: #344DD4;
}

footer {
    background-color: #344DD4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}