
.profilcontainer {
  display: flex;
    align-items: center;
    width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        h3 {
            margin-bottom: 10px;
            width: 30%;
        }
.profil{
  width: 300px;
}
  

  
